.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

/*Spacing between icon and text on the right*/
.icon-spacing {
    margin-right: 10px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    filter: drop-shadow(3px 3px #edc12f) drop-shadow(3px -3px #edc12f)
    drop-shadow(-1.5px 1.5px #edc12f) drop-shadow(-1.5px -1.5px #edc12f);
    padding-bottom: 15px;
}

.align-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.ribbon {
    --s: 1.8em; /* the ribbon size */
    --d: .8em;  /* the depth */
    --c: .8em;  /* the cutout part */

    padding: 0 calc(var(--s) + .5em) var(--d);
    line-height: 1.8;
    background:
            conic-gradient(at left  var(--s) bottom var(--d),
            #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
            conic-gradient(at right var(--s) bottom var(--d),
            #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
    clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
    background-color: #CC333F; /* the main color */
    width: fit-content;
}
