/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/HomePage/AnimatedTitleStyles.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
/* CSS styling for animated title in homepage */
.animated-title {
    font-size: 10vw;
    line-height: 1;
    color: #001e51;
    font-family: 'Slackey', sans-serif;
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 1),
    -3px -3px 4px rgba(255, 255, 255, 1),
    3px -3px 4px rgba(255, 255, 255, 1),
    -3px 3px 4px rgba(255, 255, 255, 1);

}

.animated-title > span {
    display: inline-block;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: transform;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
}

.animated-title > span span {
    display: inline-block;
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Animation & Shadow for individual spans */
.animated-title > span:nth-child(odd) {
    transform: translateY(50%);
}

.animated-title > span:nth-child(odd) span {
    transform: translateY(-100%);
}

.animated-title > span:nth-child(even) {
    transform: translateY(-50%);
}

.animated-title > span:nth-child(even) span {
    transform: translateY(100%);
}

/* Wave animation applied when "loaded" class is added */
.animated-title.loaded > span {
    transform: translateY(0);
}

.animated-title.loaded > span span {
    transform: translateY(0);
}

/* Wave animation after initial animation */
.animated-title.wave > span {
    animation: wave 2s ease-in-out infinite;
}

/* Delay for each letter of the title */
.animated-title.wave > span:nth-child(1) {
    animation-delay: 0s;
}

.animated-title.wave > span:nth-child(2) {
    animation-delay: 0.1s;
}

.animated-title.wave > span:nth-child(3) {
    animation-delay: 0.2s;
}

.animated-title.wave > span:nth-child(4) {
    animation-delay: 0.3s;
}

.animated-title.wave > span:nth-child(5) {
    animation-delay: 0.4s;
}

.animated-title.wave > span:nth-child(6) {
    animation-delay: 0.5s;
}

.animated-title.wave > span:nth-child(7) {
    animation-delay: 0.6s;
}

.animated-title.wave > span:nth-child(8) {
    animation-delay: 0.7s;
}

.animated-title.wave > span:nth-child(9) {
    animation-delay: 0.8s;
}

.animated-title.wave > span:nth-child(10) {
    animation-delay: 0.9s;
}

/* Keyframes for wave animation */
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/HomePage/HomePageButtonStyles.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
/* css styling for home page buttons*/

/*applies to all buttons on homepage*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: none;
    font-family: 'Slackey', sans-serif;
    text-align: center;
    font-size: 10px;
    width: 25em;
    max-width: 40em;
    padding: 3em;
    transition: all 0.4s;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);

}


/*Color scheme of the join button*/
.join-button {
    background: linear-gradient(to right, #0ba360, #3cba92);
    box-shadow: 0px 14px 56px -11px #0ba360;
}
.profile-button {
    background: linear-gradient(to right, #7f38bd, #7f38bd);
    box-shadow: 0px 14px 56px -11px #7f38bd;
}
.back-button {
    background: linear-gradient(to right, #ad0968, #ad0968);
    box-shadow: 0px 14px 56px -11px #ad0968;
}
.create-button {
    background: linear-gradient(to right, #5676e8, #5676e8);
    box-shadow: 0px 14px 56px -11px #5676e8;
}
.test-button{
    background: linear-gradient(to right, #f20000, #f20000);
    box-shadow: 0px 14px 56px -11px #f20000;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 2.5em;
    line-height: 1;
    transition: 0.4s;
}

/* Text that appears after hovering over button*/
/* This will add the word when you hover on the button */
.join-button span:after,
.create-button span:after {
    content: 'Room';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}
.test-button span:after {
    content: 'TEST';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}
.profile-button span:after {
    content: 'Page';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}
.back-button span:after {
    content: 'Button';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
    font-size: 22px;
}


.button:hover span {
    padding-right: 3.80em;
}

.button:hover span:after {
    opacity: 4;
    right: 0;
}

/*Spacing between icon and text on the right*/
.icon-spacing {
    margin-right: 10px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/HomePage/HomePageStyles.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-box {
    border: 5px solid white;
    border-radius: 45px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.copyright-text {
    font-family: 'Slackey', sans-serif;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
